<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hai ricevuto una nuova richiesta di preventivo attraverso <%= link_to "MatrimonioIdee.it", "http://matrimonioidee.it" %></p>
    <p>
      <%= @content.html_safe %>
    </p>
    <p>Ora non ti resta che contattare telefonicamente o via e-mail l'utente che ha richiesto il preventivo.</p>
    <p>Ti ricordiamo che puoi sempre visualizzare lo storico delle richieste di preventivo e gestire le tue aziende attraverso l'area riservata <%= link_to "MatrimonioIdee.it", "http://matrimonioidee.it" %></p>
    <p>Grazie! Lo staff di MatrimonioIdee.it</p>
  </body>
</html>