<div class="banner">
	<%= link_to image_tag("site/segnala_azienda.jpg"), new_company_frontends_path %>
</div>

<div class="banner">
	<%= link_to image_tag("site/domande_matrimoni.jpg"), frontend_path(Container.where(:place_holder => "show_questions").first) %>
</div>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-1210678493610801";
/* matrimonio_banner_menu */
google_ad_slot = "1582277745";
google_ad_width = 200;
google_ad_height = 200;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

