<div class="closer">
	<%= last_post(2).html_safe %>
	
	<div class="item" id="box_newsletter">
		<%= render :partial => "layouts/frontends/shared/newsletter" %>
	</div>								
	<div class="clearF"></div>		
</div><!-- end closer -->