<div class="header_up">	
	<div class="center">
		<div class="left">
			<div class="nav">
				<%= root_node("main_navigation").html_safe %>
			</div>
		</div>
		
		<div class="right">
			<h1>Idee, consigli e preventivi per il tuo matrimonio</h1>
		</div>
		<div class="clearF"></div>
	</div>
</div><!-- end header up -->