<p>
	<h1>Grazie per aver richiesto un preventivo attraverso il nostro portale!</h1>
</p>
<p>
	La tua richiesta verr&agrave; inoltrata a 2 aziende per ogni categoria da te indicata e riceverai una e-mail con i nominativi aziendali prescelti.
</p>