<p>
	<h1>Grazie per aver segnalato un'azienda, ora verr&agrave; visionata ed approvata dal nostro team!</h1>
</p>
<p>
	Ti verr&agrave; inviata una mail al momento dell'attivazione.
</p>
<p>Grazie per esserti registrato!</p>