.block.notice
  %h3 Come funziona?
  .content
    %p Attraverso questa sezione del portale puoi gestire le tue aziende, in modo da ricevere preventivi in base alle categorie ed aree di competenza da te selezionate.
    %p Una "categoria" rappresenta un'area di attivit&agrave; della tua azienda
    %p Una "area di competenza" rappresenta il territorio sul quale opera la tua azienda
    %p Facciamo un esempio, la mia azienda si occupa di confezionamento bomboniere e ha sede a Mantova, dovr&ograve; selezionare come "categoria"->"Bomboniere" e come "zona di competenza" la provincia di "Mantova" e se lo ritengo opportuno altre provincie dove opero, come ad esempio "Cremona", "Verona" e "Brescia".
    %p In questo modo quando un'utente richieder&agrave; un preventivo riguardante la mia categoria "Bomboniere" e risiede in una delle provincie da te indicate ti verr&agrave; inviata una e-mail con la sua richiesta e i recapiti per contattarlo. 
.block
  %h3 Links utili
  %ul.navigation
    %li
      = link_to "Inserisci nuova azienda", new_company_path

