<p>Ciao <%= @resource.email %>!</p>

<p>Se hai smarrito la tua password puoi cambiarla cliccando sul link qui sotto.</p>

<p><%= link_to 'Cambia la tua password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se non sei stato te ha richiedere il cambio password ignora questa email.</p>
<p>La tua password non sar&agrave; cambiata fino a quando non accederai al link qui sotto.</p>
<p>Grazie! Il team di MatrimonioIdee</p>
